<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                {{ label.app_name }}
            {% endblock %}
        </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ asset('build/images/favicon.ico') }}"/>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ 'https://maps.googleapis.com/maps/api/js?key=' ~ api_key ~ '&callback=initMap&libraries=places' }}" defer></script>
        {% endblock %}
    </head>
    <body class="bg-blue-100">
        {% include 'navbar.html.twig' %}
        {% block body %}{% endblock %}
    </body>
</html>
